PROJECT_NAME=LexGuard AI
API_V1_STR=/api/v1
SECRET_KEY=your_secret_key_here
ACCESS_TOKEN_EXPIRE_MINUTES=11520

POSTGRES_SERVER=your_postgres_server_here
POSTGRES_USER=your_postgres_user_here
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_DB=postgres

OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=your_google_api_key_here
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile
DATABASE_URL=postgresql://user:password@host:port/dbname
SMTP_EMAIL=your_smtp_email_here
SMTP_PASSWORD=your_smtp_password_here
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

FIREBASE_CREDENTIALS_PATH=/etc/secrets/firebase_credentials.json
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket_here

SUPABASE_URL=https://jrrbplpzqzvvtwyqomdi.supabase.co
SUPABASE_KEY=sb_publishable_rhZm180o-Vhz2q80m5-q_Q_f2Xo3NAe
