fastapi
uvicorn[standard]
sqlalchemy
firebase-admin
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
PyPDF2
pdfplumber
python-docx
reportlab

pytesseract
httpx
numpy
Pillow
supabase
psycopg2-binary
